build*/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
nbproject/*
.idea/*
.browse.VC*
.vscode
cmake-build-*/
.vs
CMakeCache.txt
CMakeFiles
cmake_install.cmake
deps
build
build_c
build_u
version/version_config.h
_generate/
nmake_build/
dep/vs_*/
dep/install*/
dep/linux_build*/
dep/curl/winbuild/CURL_OBJS.inc
dep/curl/winbuild/LIBCURL_OBJS.inc
dep/curl/winbuild/*.idb
sam/asio/asio_test/x64/
